<div class="container-fluid">
  <div class="row">
    <div class="col-6">
      <h1 class="center">Competencia de Natación 🏊‍♂️</h1>
    </div>
    <div class="col-6">
      <img class="rounded float-end"  src="../assets/logo_docuxer_mini.png" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <div class="piscina-container">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [plotOptions]="chartOptions.plotOptions"
          [dataLabels]="chartOptions.dataLabels"
          [fill]="chartOptions.fill"
        ></apx-chart>
      </div>
    </div>
    <div class="col-4">
      <div class="formulario-container">
        <form>
          <div class="row input-group mb-3">
            <label  class="col-form-label" for="meta" style="font-weight: bold;">Meta</label>
            <input class="form-control" type="text" id="meta" name="meta" mask="separator.2" prefix="$ " thousandSeparator="," [(ngModel)]="meta" pattern="[0-9]+" (change)="crearGrafico()"/>
          </div>
        </form>
          <div class="row">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>acumulado</th>
                  <th>Meta</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let nadador of nadadores">
                  <td>{{nadador.nombre}}</td>
                  <td>
                    <input class="form-control" type="text" id="acumulado" name="acumulado" [(ngModel)]="nadador.acumulado" mask="separator.2" prefix="$ " thousandSeparator="," pattern="[0-9]+" (change)="crearGrafico()"/>
                  </td>
                  <td>
                    <input type="text" class="form-control" id="meta" name="meta" mask="separator.2" prefix="$ " thousandSeparator="," [(ngModel)]="nadador.meta" pattern="[0-9]+" (change)="crearGrafico()"/>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>
</div>

